#delivery-1 {
  background-image: url('../../images/delivery-1.jpg');
  background-repeat: no-repeat;
  // background-position: 100% 25%;
  background-size: cover;
}

#delivery-2 {
  background-image: url('../../images/delivery-2.jpg');
  background-repeat: no-repeat;
  background-position: 100% 20%;
}
