<!DOCTYPE html>
<html>
  <head>
    <title>FlashTrans</title>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <div id="app"></div>

    <%= yield %>

  </body>
</html>
